/* /* .form{
    margin: auto;
    width: 60%;
    /* border: 1px solid black; 
    display: table;
    float: left;
} 
.center{
    margin: auto;
}
label{
    font-size: 15px;
}
.datatable{
    width:50%;
    float: right;
}
/* .container{
    /* border: 1px solid; 
}
.form-group{
    display: flex;
}
.header{
    height: 80px;
    /* align-items: center; */
    /* background-color:#4c98ed; */
    /* margin: auto;
}
h1{
    text-align: center;
    color: white;
   letter-spacing: 2px;
   font-size: 30px;
    
}

label{
    color:#4c98ed;
   font-weight: bold;
}
.required{
    color: red;
} */
/* .title-center { */
    /* flex: auto; */
    
    /* text-align: center; */
  /* } */
.re{
    width: 10px;
}
.sh{
    display: inline-flex;
    margin-left: 10px;
    min-width: 150vh;
}
/* .showform{
    /* float: left; 
    width: 50%;
    height:100vh;
    border:1px solid;
}*/
/* .showcard{
 border:1px solid;
 height:100px;
}
.card{
    
  
   margin-left:20px;
}  
/* .showcard{
   
} 
.stick{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.noteInputContainer{
    width:50vw;
    margin: auto;
    margin-top:30px;
}
.noteInputs{
    display: flex;
    flex-direction: column;
}
.noteSubmit{
    display: flex;
 justify-content: flex-end;
}
.notecard{
    border:1px solid blue;
    margin: 10px;
    width: 30vh;
    height: auto;
    display:flex;
    flex-direction: column;
    float: left;
    
}  
.container1 {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
   
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
Hide the browser's default radio button
  .container1 .ch {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }*/
  
  /* Create a custom radio button
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid;
  }
  
  On mouse-over, add a grey background color 
  .container1:hover .ch ~ .checkmark {
    background-color: #ccc; 
  }
  
   When the radio button is checked, add a blue background
  .container1 .ch:checked ~ .checkmark {
    background-color: #2196F3;
  }*/
  
  /* Create the indicator (the dot/circle - hidden when not checked) 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked
  .container1 .ch:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  /* .container1 .checkmark:after { */
       /* top: 9px;
      left: 9px;
      width: 8px;
      height: 8px; 
      border-radius: 10%;
      background: white;
  } */


  @import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGRvY3RvcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}



.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #3e85f0;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #3e85f0;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}