<div class="im">

<mat-card class="example-card">
    <mat-card-header class="card">
      <mat-card-title >
        <div>Date:{{presentDate | date }}</div> 
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>Patient ID:</mat-card-content>
    <mat-card-content>Patient Name:</mat-card-content>
    <mat-card-content>Age:</mat-card-content>
    <mat-card-content>Gender:</mat-card-content>
    <mat-card-content>Issue:</mat-card-content>
    <mat-card-content>Appointment slot:</mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button style="background-color:green;">Accept</button>
      <button mat-button style="background-color:red;">Reject</button>
    </mat-card-actions> -->
  </mat-card></div>