<div class="im">
  <mat-card-header class="card">
    <mat-card-title >
      <div>Date:{{presentDate | date }}</div> 
    </mat-card-title>
  </mat-card-header>
<div *ngFor="let m of At" style="float:left;display:form-inline">
<mat-card class="example-card">
  
    
    <!-- <mat-card-content>Patient ID:m</mat-card-content> -->
    <mat-card-content>Patient Name:<b>{{m.PatientName}}</b></mat-card-content>
    <mat-card-content>Age:<b> {{m.PatientAge}}</b></mat-card-content>
    <mat-card-content>Gender:<b>{{m.Gender}}</b></mat-card-content>
    <mat-card-content>Issue: <b>{{m.issue}}</b> </mat-card-content>
    <mat-card-content>Appointment slot: <b>{{m.date}}</b> at <b>{{m.time}}</b></mat-card-content>
    <hr>
    

    <mat-card-actions>
      <button mat-button style="background-color:green;">Accept</button>
      <button mat-button style="background-color:red;">Reject</button>
    </mat-card-actions>
  </mat-card>
  </div></div>